.button {
  border-radius: 5px;
  border: none;
  padding: 7px 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.button:hover {
  transform: scale(1.02);
}

.button.red {
  background-color: #ff4e4e;
  color: #fff;
}

.button.white {
  background-color: #fff;
  color: #000;
}
