.modal-check {
  width: 500px;
}

.modal-check__item {
  margin: 10px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}

.modal-check__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.modal-item__title {
  font-size: 16px;
  font-weight: 500;
}

.modal-item__description {
  font-size: 14px;
}
