.modal-add {
  width: 400px;
}

.modal-add__form {
  overflow-y: auto;
  max-height: calc(100vh - 270px);
}

.modal-add__buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 550px) {
  .modal-add {
    width: 260px;
  }
}
