.mainpage-content__films {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-row-gap: 10px;
}

.mainpage-content__search {
  margin-bottom: 20px;
}

.mainpage-content__nosearch {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

.search-input {
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #ff4e4e;
  border-radius: 5px;
}

@media (max-width: 1100px) {
  .mainpage-content__films {
    justify-content: center;
    grid-template-columns: 500px;
  }
}

@media (max-width: 550px) {
  .mainpage-content__films {
    justify-content: center;
    grid-template-columns: 300px;
  }
}
