.error-404 {
  margin: 0 auto;
  width: 300px;
}

.error-status {
  font-size: 160px;
  font-weight: 700;
  text-align: center;
  color: #ff4e4e;
  text-align: center;
}

.error-title {
  font-size: 24px;
  color: #fff;
  text-align: center;
}
